<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= election.name%></title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      const updateTodo = (id, bool) => {
        //here we are taking checked attribute from todo.ejs
        console.log(bool);
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "content-Type": "application/json" },
          body: JSON.stringify({
            //for it we are needed to pass the completion status
            completed: !bool,
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      };
      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          //url to make the to as completed after that we need to reload   headers and body can also be placed
          method: "delete",
          headers: { "Content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err)); //o/p error to the console
      }
    </script>
  </head>
  <body
    style="
      background-color: beige;
      font-family: 'Courier New', Courier, monospace;
    "
  >
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <h1 class="text-blue-700 font-bold text-1.2xl bg-gray-100 w-fit pr-1">
          /<a href="/">Home</a>/<a href="/welcome">Elections</a>/<a href="/elections/<%=electionId%>">Manage-Election</a>
        </h1>
        <h1 class="font-bold mb-5">Election : <%= election.name %></h1>
        <a
          href="/signout"
          class="bg-red-600 text-white px-2 py-5 rounded font-mediium py-1.5"
          >Sign out</a
        >
        <div class="mt-2 text-xl text-brown-800 font-bold">
          <!-- tobe -->
          <div class="mt-2 w-fit hover:bg-green-100 hover:px-2  rounded">
            <a href="/elections/<%= electionId%>/questions">Manage Questions</a>
          </div>
          <div class="mt-2 w-fit hover:bg-green-100 hover:px-2 rounded">
            <a href="/elections/<%= electionId%>/voters">Manage Voters</a>
          </div>
          <div class="mt-2 w-fit hover:bg-green-100 hover:px-2 rounded">
            <a href="/elections/<%= electionId%>/launch">Launch Election</a>
          </div>
        </div>
      </div>
    </div>
    <ul><% if(messages && messages.error && messages.error.length > 0)  { %>
      <% for(var i=0; i<messages.error.length; i++) { %>
        <li class="text-red-600 text-xl  " align="center"> <%= messages.error[i] %></li>
        <% } %>
        <% } %></ul>
  </body>
</html>
