<h5 class="font-extrabold text-2xl"> 
    <%= title%> <span class="bg-gray-100 text-sm font-small mr-2 px-2 py-0.5  rounded dark:text-gray-900 dark-bg-gray-200 justify-center items-center items" id="count-<%= title%>"><%= data.length%></span>
  </h5>
  <ul class="list-none">
    
    <% for(var i=0;i<data.length;i++) { %>
      <li >
        <div class="flex items-center w-full my-2 px-2 py-1 hover:bg-green-100 rounded">
          <div class="flex-auto">
            <h1 class="ml-2 text-sm text-gray-900 ">
              <%= data[i].name%>
            </h1>
          </div>
          <% if(!data[i].started) {%> 
          <div class="flex-auto">
            <a href="/elections/<%= data[i].id %>/" class="ml-2 text-sm text-purple-600 hover:cursor-pointer">
              Manage
            </a>
          </div>
          <div class="flex-auto">
            <button onclick="deleteElection(`<%= data[i].id%>`)" class="ml-2 text-sm text-red-600 hover:cursor-pointer">
              Delete
            </button>
          </div>
          <% }else if(!data[i].status){ %> 
            <div class="flex-auto">
              <a href="/conduct-election/<%= data[i].id %>/<%= data[i].name %>/0 " class="ml-2 text-sm text-purple-600 hover:cursor-pointer">
                PreviewElection
              </a>
            </div>
            <div class="flex-auto">
              <a href="/elections/<%= data[i].id %>/end" class="ml-2 text-sm text-red-600 hover:cursor-pointer">
                End
              </a>
            </div>
            <% }else{ %> 
              <div class="flex-auto">
                <button onclick="deleteElection(`<%= data[i].id%>`)" class="ml-2 text-sm text-red-600 hover:cursor-pointer">
                  Delete
                </button>
              </div>
              <div class="flex-auto">
                <a href="/elections/<%= data[i].id %>/viewResults" class="ml-2 text-sm text-purple-600 hover:cursor-pointer">
                  ViewResults
                </a>
              </div>
              
              <% } %> 
        
        </div>
      </li>
      <% } %>
    

  </ul>

