<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <h6 class="py-6">Log in to your account</h6>
        <form action="/session" method="post"><!--here this session route is for posting the details to our server and verifying vth db-->
          

          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
          <div class="py-3">
            <label for="email">email :</label>
            <input
              type="email"
              name="email"
              class="border-gray-300 text-gray-600 rounded p-2 w-full"
            />
          </div>
          <div class="py-3">
            <label for="password">password :</label>
            <input
              type="password"
              name="password"
              class="border-gray-300 text-gray-600 rounded p-2 w-full"
            />
          </div>
          <div class="py-3">
            <button
              class="text-white bg-green-600 hover:bg-green-800 rounded px-2 py-2"
            >
              Sign In
            </button>
          </div>
        </form>
        <ul><% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li class="text-red-600 text-xl "> <%= messages.error[i] %></li>
          <% } %>
        <% } %></ul>
        
      </div>
    </div>
  </body>
</html>
