<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet" />
    <title><%= title%></title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      const updateTodo = (id, bool) => {
        //here we are taking checked attribute from todo.ejs
        console.log(bool);
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "content-Type": "application/json" },
          body: JSON.stringify({
            //for it we are needed to pass the completion status
            completed: !bool,
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      };
      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          //url to make the to as completed after that we need to reload   headers and body can also be placed
          method: "delete",
          headers: { "Content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err)); //o/p error to the console
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <h1 class=" font-bold mb-5">USER : <%= email  %> </h1>
        <a href="/signout" class="bg-red-600 text-white px-2 py-5 rounded font-mediium py-1.5">Sign out</a>
        <form action="/todos" method="post">
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input
                type="text"
                placeholder="What's next?"
                name="title"
                class="border border-color-gray-300 text-gray-900 rounded w-full p-2 text-sm"
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                class="border border-color-gray-300 text-gray-900 rounded w-full p-2 text-sm leading-4"
              />
            </div>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-2 rounded font-mediium py-1.5"
              >
                ADD
              </button>
            </div>
          </div>
        </form>
        <ul><% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li class="text-red-600 text-xl "> <%= messages.error[i] %></li>
          <% } %>
        <% } %></ul>
        <div>
          <%- include("todo.ejs",{title:"Overdue",data:overdue}) %>
          <%-include("todo.ejs",{title:"Due Today",data:dueToday}) %>
          <%-include("todo.ejs",{title:"Due Later",data:dueLater}) %>
          <%-include("todo.ejs",{title:"Completed Items",data:completedItems})
          %> <%-include("footer.ejs") %>
        </div>
      </div>
    </div>
  </body>
</html>
