<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="public/css/styles.css" rel="stylesheet">

    <title><%= title%></title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      // const updateTodo = (id, bool) => {
      //   //here we are taking checked attribute from todo.ejs
      //   console.log(bool);
      //   fetch(`/elections/${id}`, {
      //     method: "put",
      //     headers: { "content-Type": "application/json" },
      //     body: JSON.stringify({
      //       //for it we are needed to pass the completion status
      //       completed: !bool,
      //       _csrf: token,
      //     }),
      //   })
      //     .then((res) => {
      //       if (res.ok) {
      //         window.location.reload();
      //       }
      //     })
      //     .catch((err) => console.error(err));
      // };
      function deleteElection(id) {
        fetch(`/elections/${id}`, {
          //url to make the to as completed after that we need to reload   headers and body can also be placed
          method: "delete",
          headers: { "Content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err)); //o/p error to the console
      }
    </script>
  </head>
  <body
    style="
      background-color: beige;
      font-family: 'Courier New', Courier, monospace;
    "
  >
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs")%>
        <h1 class="text-blue-700 font-bold text-1.2xl bg-gray-100 w-fit pr-1">
          /<a href="/">Home</a>/<a href="/welcome">Elections</a>
        </h1>
        <h1 class="font-bold mb-5">Welcome <%= name %></h1>
        <a
          href="/signout"
          class="bg-red-600 text-white px-2 py-5 rounded font-mediium py-1.5"
          >Sign out</a
        >
        <h1 class="text-xl mt-5 bg-blue-100 rounded w-fit pr-4">
          <button class="ml-2 text-xls text-red-600 hover:cursor-pointer w-fit">
            <a href="/elections" class="ml-2">create a new election</a>
          </button>
        </h1>
        <div class="mt-10">
          <%-include("election.ejs",{title:"OnGoing-Elections",data:onGoingElections})%>
        </div>
        <div class="mt-10">
          <%-include("election.ejs",{title:"New-Elections",data:newElections})%>
        </div>
        <div class="mt-10"></div>
        <%-include("election.ejs",{title:"Completed-Elections",data:completedElections})%>
      </div>
    </div>
  </body>
</html>
